/* Changes for the header and bottom text in home.html template */

/*************************** SECTION - 2  **************************/

.fp-viewing-2 .logo,
.fp-viewing-2 .sublogo,
.fp-viewing-2 .header-right button,
.fp-viewing-2 .company p,
.fp-viewing-2 .main-service p,
.fp-viewing-2 .line {
	color: #f2f0ef;
	border-color: #f2f0ef;
}

.fp-viewing-2 .logo:hover,
.fp-viewing-2 .logo:active,
.fp-viewing-2 .sublogo--email:hover,
.fp-viewing-2 .sublogo--email:active,
.fp-viewing-2 .header-right button:hover,
.fp-viewing-2 .header-right button:active {
	color: #E0E0E0;
}

@media only screen and (max-width: 1200px) and (orientation: portrait) {

	.fp-viewing-2 .logo,
	.fp-viewing-2 .sublogo,
	.fp-viewing-2 .header-right button,
	.fp-viewing-2 .company p,
	.fp-viewing-2 .main-service p,
	.fp-viewing-2 .line {
		color: #1e1c1c;
		border-color: #1e1c1c;
	}

	.fp-viewing-2 .logo:hover,
	.fp-viewing-2 .logo:active,
	.fp-viewing-2 .sublogo--email:hover,
	.fp-viewing-2 .sublogo--email:active,
	.fp-viewing-2 .header-right button:hover,
	.fp-viewing-2 .header-right button:active {
		color: #626060;
	}
}

/*************************** SECTION - 3 **************************/

.fp-viewing-3-0 .logo,
.fp-viewing-3-0 .sublogo,
.fp-viewing-3-0 .header-right button,
.fp-viewing-3-0 .company p,
.fp-viewing-3-0 .main-service p,
.fp-viewing-3-0 .line {
	color: #f2f0ef;
	border-color: #f2f0ef;
}

.fp-viewing-3-0 .logo:hover,
.fp-viewing-3-0 .logo:active,
.fp-viewing-3-0 .sublogo--email:hover,
.fp-viewing-3-0 .sublogo--email:active,
.fp-viewing-3-0 .header-right button:hover,
.fp-viewing-3-0 .header-right button:active {
	color: #E0E0E0;
}

.fp-viewing-3-2 .logo,
.fp-viewing-3-2 .sublogo,
.fp-viewing-3-2 .header-right button,
.fp-viewing-3-2 .company p,
.fp-viewing-3-2 .main-service p,
.fp-viewing-3-2 .line {
	color: #f2f0ef;
	border-color: #f2f0ef;
}

.fp-viewing-3-2 .logo:hover,
.fp-viewing-3-2 .logo:active,
.fp-viewing-3-2 .sublogo--email:hover,
.fp-viewing-3-2 .sublogo--email:active,
.fp-viewing-3-2 .header-right button:hover,
.fp-viewing-3-2 .header-right button:active {
	color: #E0E0E0;
}

@media (max-width: 480px) {

	.fp-viewing-3-1 .logo,
	.fp-viewing-3-1 .sublogo,
	.fp-viewing-3-1 .header-right button,
	.fp-viewing-3-1 .company p,
	.fp-viewing-3-1 .main-service p,
	.fp-viewing-3-1 .line {
		color: #f2f0ef;
		border-color: #f2f0ef;
	}

	.fp-viewing-3-1 .logo:hover,
	.fp-viewing-3-1 .logo:active,
	.fp-viewing-3-1 .sublogo--email:hover,
	.fp-viewing-3-1 .sublogo--email:active,
	.fp-viewing-3-1 .header-right button:hover,
	.fp-viewing-3-1 .header-right button:active {
		color: #E0E0E0;
	}
}

/*************************** SECTION - 4  **************************/

.fp-viewing-4 .company p,
.fp-viewing-4 .main-service p,
.fp-viewing-4 .line {
	color: #f2f0ef;
	border-color: #f2f0ef;
}

@media (max-width: 1200px) {

	.fp-viewing-4 .logo,
	.fp-viewing-4 .sublogo,
	.fp-viewing-4 .header-right button,
	.fp-viewing-4 .company p,
	.fp-viewing-4 .main-service p,
	.fp-viewing-4 .line {
		color: #f2f0ef;
		border-color: #f2f0ef;
	}

	.fp-viewing-4 .logo:hover,
	.fp-viewing-4 .logo:active,
	.fp-viewing-4 .sublogo--email:hover,
	.fp-viewing-4 .sublogo--email:active,
	.fp-viewing-4 .header-right button:hover,
	.fp-viewing-4 .header-right button:active {
		color: #E0E0E0;
	}
}

/*************************** SECTION - 5 **************************/

.fp-viewing-5 .logo,
.fp-viewing-5 .sublogo,
.fp-viewing-5 .header-right button,
.fp-viewing-5 .company p,
.fp-viewing-5 .main-service p,
.fp-viewing-5 .line {
	color: #f2f0ef;
	border-color: #f2f0ef;
}

.fp-viewing-5 .logo:hover,
.fp-viewing-5 .logo:active,
.fp-viewing-5 .sublogo--email:hover,
.fp-viewing-5 .sublogo--email:active,
.fp-viewing-5 .header-right button:hover,
.fp-viewing-5 .header-right button:active {
	color: #E0E0E0;
}


/*************************** SECTION - 6 **************************/

.fp-viewing-6 .company p,
.fp-viewing-6 .main-service p,
.fp-viewing-6 .line {
	color: #f2f0ef;
	border-color: #f2f0ef;
}

@media only screen and (max-width: 1200px) {

	.fp-viewing-6 .logo,
	.fp-viewing-6 .sublogo,
	.fp-viewing-6 .header-right button {
		color: #f2f0ef;
		border-color: #f2f0ef;
	}
}

/*************************** SECTION - 7 **************************/

.fp-viewing-7 .logo,
.fp-viewing-7 .sublogo,
.fp-viewing-7 .header-right button,
.fp-viewing-7 .company p,
.fp-viewing-7 .main-service p,
.fp-viewing-7 .line {
	color: #f2f0ef;
	border-color: #f2f0ef;
}

.fp-viewing-7 .logo:hover,
.fp-viewing-7 .logo:active,
.fp-viewing-7 .sublogo--email:hover,
.fp-viewing-7 .sublogo--email:active,
.fp-viewing-7 .header-right button:hover,
.fp-viewing-7 .header-right button:active {
	color: #E0E0E0;
}

/*************************** SECTION - 9 **************************/
.fp-viewing-9 .company p,
.fp-viewing-9 .main-service p,
.fp-viewing-9 .line {
	color: #f2f0ef;
	border-color: #f2f0ef;
}

@media only screen and (max-width: 992px) {

	.fp-viewing-9 .logo,
	.fp-viewing-9 .sublogo,
	.fp-viewing-9 .header-right button,
	.fp-viewing-9 .company p,
	.fp-viewing-9 .main-service p,
	.fp-viewing-9 .line {
		color: #f2f0ef;
		border-color: #f2f0ef;
	}

	.fp-viewing-9 .logo:hover,
	.fp-viewing-9 .logo:active,
	.fp-viewing-9 .sublogo--email:hover,
	.fp-viewing-9 .sublogo--email:active,
	.fp-viewing-9 .header-right button:hover,
	.fp-viewing-9 .header-right button:active {
		color: #E0E0E0;
	}
}

/*************************** SECTION - 10 **************************/

.fp-viewing-10 .logo,
.fp-viewing-10 .sublogo,
.fp-viewing-10 .header-right button,
.fp-viewing-10 .company p,
.fp-viewing-10 .main-service p,
.fp-viewing-10 .line {
	color: #f2f0ef;
	border-color: #f2f0ef;
}

.fp-viewing-10 .logo:hover,
.fp-viewing-10 .logo:active,
.fp-viewing-10 .sublogo--email:hover,
.fp-viewing-10 .sublogo--email:active,
.fp-viewing-10 .header-right button:hover,
.fp-viewing-10 .header-right button:active {
	color: #C0C0C0;
}

/*************************** SECTION - 12 **************************/

.fp-viewing-12 .logo,
.fp-viewing-12 .sublogo,
.fp-viewing-12 .header-right button,
.fp-viewing-12 .company p,
.fp-viewing-12 .main-service p,
.fp-viewing-12 .line {
	color: #f2f0ef;
	border-color: #f2f0ef;
}

.fp-viewing-12 .logo:hover,
.fp-viewing-12 .logo:active,
.fp-viewing-12 .sublogo--email:hover,
.fp-viewing-12 .sublogo--email:active,
.fp-viewing-12 .header-right button:hover,
.fp-viewing-12 .header-right button:active {
	color: #C0C0C0;
}

@media only screen and (max-width: 992px) {

	.fp-viewing-12 .logo,
	.fp-viewing-12 .sublogo,
	.fp-viewing-12 .header-right button {
		color: #1e1c1c;
	}

	.fp-viewing-12 .logo:hover,
	.fp-viewing-12 .logo:active,
	.fp-viewing-12 .sublogo--email:hover,
	.fp-viewing-12 .sublogo--email:active,
	.fp-viewing-12 .header-right button:hover,
	.fp-viewing-12 .header-right button:active {
		color: #626060;
	}
}