{% extends "base.html" %}
{% load static %} 

{% block extra_css %}

  <link rel="stylesheet" href="{% static 'home/styles/brand_container.css' %}" />
  <link rel="stylesheet" href="{% static 'home/styles/test.css' %}" />
  <link rel="stylesheet" href="{% static 'home/styles/test-image-right.css' %}" />
{% endblock %}


{% block content %}


<div class="section">
  <picture>
    <source
      srcset="{% static 'home/images/home_images/adolfo_dominguez/The_Shelter_Creative_Adolfo_Dominguez.jpg' %}"
      media="(max-width: 600px)"
    />
    <source
      srcset="{% static 'home/images/home_images/adolfo_dominguez/The_Shelter_Creative_Adolfo_Dominguez.jpg' %}"
      media="(max-width: 1200px)"
    />
    <img
      class="img-full-screen"
      src="{% static 'home/images/home_images/adolfo_dominguez/The_Shelter_Creative_Adolfo_Dominguez.jpg' %}"
      alt="#"
    />
  </picture>

  <div class="brand-service-container">
    <div class="company">
      <p>Carolina Herrera</p>
    </div>
    <div class="line"></div>
    <div class="main-service">
      <p>creative Direction</p>
    </div>
  </div>
</div>

<div class="section">
  <div class="full-viewport-right-align-1-image">
    <div class="image-container-right-1-image">
      <img
        class="image-full-width"
        src="{% static 'home/images/home_images/adolfo_dominguez/The_Shelter_Creative_Adolfo_Dominguez.jpg' %}"
        alt="#"
      />

      <!--
      <img
        class="image-half-width"
        src="images/The_Shelter_Creative_Carolina_Herrera_ Golden_Button_Capsule_Collection_by_Alba_F_ Sobral8.jpg"
        alt="#"
      />
      -->
    </div>
  </div>

  <div class="brand-service-container">
    <div class="company">
      <p>Carolina Herrera</p>
    </div>
    <div class="line"></div>
    <div class="main-service">
      <p>creative Direction</p>
    </div>
  </div>
</div>

<div class="section">
    <div class="container-layout-3">
      <div class="image-container-layout-3">
        <img
        src="{% static '/home/images/home_images/s-moda/The_Shelter_Creative_S_Moda_Beauty_Satoshi_Saikusa_1.jpg' %}"
        alt="#"
      />

      <img
      src="{% static '/home/images/home_images/s-moda/The_Shelter_Creative_S_Moda_Beauty_Satoshi_Saikusa_1.jpg' %}"
      alt="#"
    />
      </div>
    </div>

    <div class="brand-service-container">
      <div class="company">
        <p>Carolina Herrera</p>
      </div>
      <div class="line"></div>
      <div class="main-service">
        <p>creative Direction</p>
      </div>
    </div>
  </div>




<div class="section">
    <div class="container-layout-1">
      <div class="image-container-layout-1">
        <img
          src="{% static '/home/images/home_images/s-moda/The_Shelter_Creative_S_Moda_Beauty_Satoshi_Saikusa_1.jpg' %}"
          alt="#"
        />

        <img
        src="{% static '/home/images/home_images/s-moda/The_Shelter_Creative_S_Moda_Beauty_Satoshi_Saikusa_1.jpg' %}"
          alt="#"
        />
      </div>
    </div>

    <div class="brand-service-container">
      <div class="company">
        <p style="color:green" >Carolina Herrera</p>
      </div>
      <div class="line"></div>
      <div class="main-service">
        <p style="color:green" >creative Direction</p>
      </div>
    </div>
  </div>


  <!--
  <div class="section">
    <div class="grid-container-1x3">
      <div class="grid-1x3">
        <div class="grid-item-1x3">
            <img
            src="{% static '/home/images/home_images/s-moda/The_Shelter_Creative_S_Moda_Beauty_Satoshi_Saikusa_1.jpg' %}"
          
            alt="#"
          />
        </div>
        <div class="grid-item-1x3">
            <img
            src="{% static '/home/images/home_images/s-moda/The_Shelter_Creative_S_Moda_Beauty_Satoshi_Saikusa_1.jpg' %}"
          
            alt="#"
          />
        </div>
        <div class="grid-item-1x3">
            <img
            src="{% static '/home/images/home_images/s-moda/The_Shelter_Creative_S_Moda_Beauty_Satoshi_Saikusa_1.jpg' %}"
            alt="#"
          />
        </div>
      </div>
    </div>
    <div class="brand-service-container">
      <div class="company">
        <p>project</p>
      </div>
      <div class="line"></div>
      <div class="main-service">
        <p>service</p>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="grid-container-2x1">
      <div class="grid-2x1">
        <div class="grid-item-2x1">
            <img
            src="{% static '/home/images/home_images/s-moda/The_Shelter_Creative_S_Moda_Beauty_Satoshi_Saikusa_1.jpg' %}"
            alt="#"
          />
        </div>
        <div class="grid-item-2x1">
            <img
          src="{% static '/home/images/home_images/s-moda/The_Shelter_Creative_S_Moda_Beauty_Satoshi_Saikusa_1.jpg' %}"
          alt="#"
        />
        </div>
      </div>
    </div>
    <div class="brand-service-container">
      <div class="company">
        <p>U Adolfo Domínguez</p>
      </div>
      <div class="line"></div>
      <div class="main-service">
        <p>Creative Direction</p>
      </div>
    </div>
  </div>
-->

  {% endblock %}