/*
TEXT PRIMARY COLOR (OFF-BLACK): #1E1C1C;
TEXT PRIMARY COLOR HOVER : #626060;

TEXT SECONDARY COLOR (OFF-WHITE): #F2F0EF
TEXT SECONDARY COLOR HOVER : #E0E0E0 (light), #C0C0C0 (dark)
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #1E1C1C;
}

html {
	font-size: 62.5%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

/* Hide scrollbars for Webkit browsers */
*::-webkit-scrollbar {
	display: none;
}

/* Remove fullpage.js watermark */
div.fp-watermark {
	display: none;
}

.section {
	height: 100vh;
	height: 100dvh;
	width: 100vw;
	position: relative;
	overflow: hidden;
}

a,
a:hover {
	text-decoration: none;
}

p {
	margin-bottom: 0;
}