
.item,
.info-text,
.heading,
.section-info .close-container button,
.heading--contact a {
	color: #1E1C1C;
}

.info-col-left,
.info-col-right,
.sub-info-container,
.info-col-left,
.info-col-righ {
	border-top: 1px solid #1E1C1C;
}

.section-info .close-container button:hover {
	color: #626060;
}

.heading--contact a:hover,
.heading--contact a:active {
	color: #626060;
}


.section-info {
	height: 100vh;
	width: 100vw;
	overflow-y: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.main-container {
	display: grid;
	grid-template-columns: 70% 1fr;
	gap: 3rem;
	padding: 0 3rem;
}

.info-text {
	font-family: "RecklessNeue", serif;
	font-weight: 400;
	font-size: 4.2rem;
	line-height: 4.8rem;
	letter-spacing: -0.21px;
	padding-top: 2.9rem;
}

.sub-info-container {
	display: flex;
	flex-direction: column;
	padding: 2.9rem 0 3.1rem 0;
	
}

.sub-info-container--contact {
	gap: 1.8rem;
	border-top: none;
}

.heading {	
	font-family: "HelveticaNowProTextMedium", Arial, sans-serif;
	font-size: 1.4rem;
	font-style: normal;
	line-height: normal;
	padding-bottom: 1.4rem;
	text-transform: capitalize;
}

.heading--contact {
	padding-bottom: 0;
}

.item {
	font-family: "RecklessNeue", serif;
	font-weight: 400;
	font-size: 1.7rem;
	line-height: 2.1rem;
	letter-spacing: -0.17px;
}

.heading--contact a {
	font-family: "RecklessNeue", serif;
	font-weight: 400;
	font-size: 1.4rem;
	font-style: italic;
	line-height: normal;
	text-transform: lowercase;
	transition: color 0.5s ease-in-out;
}

.client-container {
	display: flex;
	gap: 7.9rem;
}

@media screen and (min-width: 1536px) {
	.main-container {
		grid-template-columns: 75% 1fr;
	}
}

@media only screen and (max-width: 1200px) {
	.info-text {
		font-size: 2.6rem;
		line-height: 3.2rem;
	}

	.close-container {
		padding-right: 2rem;
		margin-top: 2.4rem;
		margin-bottom: 1.2rem;
	}

	.close-container button {
		font-size: 1.2rem;
	}

	.main-container {
		display: flex;
		flex-direction: column;
		gap: 2.9rem;
		padding: 0 2rem;
	}

	.client-container {
		padding-bottom: 75px;
	}
}

@media only screen and (max-width: 992px) {
	.info-text {
		font-size: 2.4rem;
		line-height: 3.05rem;
	}
}

@media (max-width: 575.98px) {
	.client-container {
		flex-direction: column;
		gap: 0rem;
	}
}