
p,
.close-container button {
	color: #1E1C1C;
}

.project-item:hover {
	border-color: #1E1C1C;
}

.modal .close-container button:hover {
	color: #626060;
}

/************/

.section-projects {
	height: 100dvh;
	width: 100vw;
	overflow-y: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.projects-container-small-screen {
	display: none;
}

.projects-container {
	height: calc(100vh - 9rem);
	height: calc(100dvh - 9rem);
	width: 100vw;
	top: 9rem;
	display: flex;
	gap: 6.2rem;
	padding: 0 8.2rem 3.2rem 8.2rem;
}

.column-right,
.column-left {
	height: 100%;
	width: 50%;
	overflow-y: auto;
}

.column-left {
	display: flex;
	flex-direction: column;
	padding-top: 3.2rem;
}

.projects-list-container {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.projects-list-container::-webkit-scrollbar {
	/* Hide scrollbar for Chrome, Safari and Opera */
	display: none;
}


.project-item,
.project-heading-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.project-heading-container {
	margin-bottom: 3rem;
	box-sizing: border-box;
}

.project-link {
	text-decoration: none;
}

.project-item {
	box-sizing: border-box;
	border-bottom: 2px solid transparent;
	transition: border-color 0.3s ease;
	margin-bottom: 0.75rem;
}


.brand {
	font-style: italic;
}

.service {
	width: 45%;
	padding-right: 0;
}

.brand p,
.service p {
	font-family: "RecklessNeue", serif;
	font-size: 2.8rem;
	font-weight: 400;
	font-style: normal;
	line-height: 32px;
	text-decoration: none;
	text-transform: capitalize;
	padding-bottom: 0;
}

.brand p {
	font-style: italic;
}

.line-projects {
	display: none;
}

.column-right {
	display: flex;
	justify-content: center;
}

.projects-imgs-container,
.project-img-container {
	height: 100%;
	width: auto;
	aspect-ratio: 4 / 5;
	overflow: hidden;
	padding: 3.2rem;
}

.projects-imgs-container {
	/* Default image container for projects section */
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1.25fr 1fr;
	gap: 2rem;
}

.projects-imgs-container img {
	/* Default image for projects section */
	width: 100%;
	overflow: hidden;
	height: 100%;
	object-fit: cover;

}

.img-3 {
	grid-column: 1 / 3;
	height: 1fr;
	object-position: top;
}

.project-img-container img {
	/* Changes to this image class on hover */
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/**************************** Media Queries *************************/

@media only screen and (max-width: 1380px) {

	.brand p,
	.service p {
		font-size: 2.4rem;
		line-height: 2.8rem;
	}
}

@media only screen and (max-width: 1200px) {

	.projects-container {
		gap: 6.2rem;
		padding: 0 2.4rem 3.2rem 2.4rem;
	}

	.column-left {
		width: 60%;
	}

	.column-right {
		width: 40%;
	}

	.project-item {
		border-bottom: 1.5px solid transparent;
	}

	.projects-imgs-container {
		/* Default image container for projects section */
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		gap: 2rem;
		aspect-ratio: unset;
	}

	.img-3 {
		grid-column: unset;
		height: unset;
	}

	.project-img-container {
		height: auto;
		width: 100%;
		aspect-ratio: unset;
	}

	.project-img-container img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

@media only screen and (max-width: 992px) and (orientation: portrait) {

	.projects-container {
		gap: 3.4rem;
	}

	.brand p,
	.service p {
		font-size: 2rem;
		line-height: 2rem;
	}
}

@media only screen and (max-width: 792px) {

	.projects-container {
		display: none;
	}

	.projects-container-small-screen {
		display: block;
		min-height: calc(100vh - 9rem);
		min-height: calc(100dvh - 9rem);
		width: 100vw;
		top: 9rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2.4rem;
		padding: 0 3.2em;
	}

	.project-item-small {
		width: 100%;
		height: fit-content;
		aspect-ratio: 4 / 5;
	}

	.project-image-container-small {
		width: 100%;
		height: auto;
		aspect-ratio: 4 / 5;
		overflow: hidden;
	}

	.project-image-container-small img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	.project-text-container-small {
		display: flex;
		width: 100%;
		justify-content: center;
		padding: .75rem 0;
	}

	.service {
		width: unset;
	}

	.brand p,
	.service p {
		font-size: 1.6rem;
		line-height: 1.6rem;
		padding: 0;
		margin: 0;
	}

	.line-project-small {
		border-bottom: 1px solid #1e1c1c;
		margin-right: 0.75rem;
		margin-left: 0.9rem;
		margin-bottom: .7rem;
		width: 1.1rem;
	}
}

@media only screen and (max-width: 600px) {
	.project-text-container-small {
		flex-direction: column;
		gap: .3rem;
	}

	.line-project-small {
		display: none;
	}
}