/******** FULL SCREEN IMAGE ********/

.img-full-screen {
	width: 100vw;
	height: 100vh;
	height: 100dvh;
	object-fit: cover;
}

.img-full-screen-top {
	object-position: top center;
}

.img-full-screen-bottom {
	object-position: bottom center;
}

/******** HAFF & HALF SCREEN IMAGE ********/

.full-viewport-half-half {
	height: 100vh;
	height: 100dvh;
	width: 100vw;
	overflow: hidden;
	display: flex;
}

.image-container-half-screen {
	height: 100%;
	width: 50vw;
	overflow: hidden;
}

.image-container-half-screen img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

@media (max-width: 1200px) and (orientation: portrait) {
	.full-viewport-half-half {
		height: calc(var(--vh, 1vh) * 100 - 16.2rem);
		height: calc(100dvh - 16.2rem);
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 11.2rem;
		margin-bottom: 5rem;
		overflow: hidden;
	}

	.image-container-half-screen {
		height: auto;
		width: 50vw;
		aspect-ratio: 4 / 5;
	}
}

@media (max-width: 992px) and (orientation: landscape) {
	.full-viewport-half-half {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.image-container-half-screen {
		height: 100%;
		width: auto;
		aspect-ratio: 4 / 5;
	}
}

/******** 80% VIEW WIDTH IMAGE RIGHT ********/

.full-viewport-right-align-1-image {
	height: 100vh;
	height: 100dvh;
	width: 100vw;
	display: flex;
	justify-content: end;
}

.image-container-right-1-image {
	height: 100vh;
	height: 100dvh;
	width: 80vw;
	display: flex;
	overflow: hidden;
}

.image-container-right-1-image .image-full-width {
	height: 100dvh;
	width: 100%;
	object-fit: cover;
}

@media (max-width: 1200px) and (orientation: portrait) {
	.full-viewport-right-align-1-image {
		justify-content: center;
	}

	.image-container-right-1-image {
		width: 100vw;
	}
}

@media (max-width: 1200px) and (orientation: landscape) {
	.full-viewport-right-align-1-image {
		justify-content: center;
	}

	.image-container-right-1-image {
		width: 100vw;
		justify-content: center;
	}

	.image-container-right-1-image .image-full-width {
		height: 100dvh;
		width: auto;
		object-fit: cover;
	}
}

/******** IMAGE CENTERED P0RTRAIT ********/

.image-container-center-portrait {
	height: 100vh;
	height: 100dvh;
	width: 100vw;
	display: flex;
	justify-content: center;
	position: relative;
	overflow: hidden;
}

.image-center-portrait {
	height: 100%;
	width: auto;
}

/******** VIDEO ********/

/* For safari browsers */
@supports (font: -apple-system-body) and (-webkit-appearance: none) {

	.video-non-safari {
		display: none !important;
	}

	.video-safari {
		display: block;
		height: 100vh;
		height: 100vdh;
		width: 100vw;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url("/../static/home/images/home_images/video/The_Shelter_Creative_Levare.mp4");
	}
}

/* For non-safari browsers */
.video-non-safari {
	display: block;
	height: 100vh;
	height: 100vdh;
	width: 100vw;
	object-fit: cover;
	overflow: hidden;
}


/******** IMAGE CENTERED LANDSCAPE ********/

.image-container-center-landscape {
	height: 100vh;
	height: 100dvh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.image-center-landscape {
	height: 66vh;
	width: auto;
}

@media (max-width: 1200px) and (orientation: portrait) {
	.image-center-landscape {
		height: 100vh;
		width: auto;
	}
}

/******** HEADER & BRAND SERVICE CONTAINER COLOR CHANGES ********/

/******** SECTION 2 ********/

.fp-viewing-2 .logo,
.fp-viewing-2 .sublogo,
.fp-viewing-2 .header-right button,
.fp-viewing-2 .company p,
.fp-viewing-2 .main-service p,
.fp-viewing-2 .line {
	color: #f2f0ef;
	border-color: #f2f0ef;
}

.fp-viewing-2 .logo:hover,
.fp-viewing-2 .logo:active,
.fp-viewing-2 .sublogo--email:hover,
.fp-viewing-2 .sublogo--email:active,
.fp-viewing-2 .header-right button:hover,
.fp-viewing-2 .header-right button:active {
	color: #E0E0E0;
}

@media only screen and (max-width: 1200px) and (orientation: portrait) {

	.fp-viewing-2 .logo,
	.fp-viewing-2 .sublogo,
	.fp-viewing-2 .header-right button,
	.fp-viewing-2 .company p,
	.fp-viewing-2 .main-service p,
	.fp-viewing-2 .line {
		color: #1e1c1c;
		border-color: #1e1c1c;
	}

	.fp-viewing-2 .logo:hover,
	.fp-viewing-2 .logo:active,
	.fp-viewing-2 .sublogo--email:hover,
	.fp-viewing-2 .sublogo--email:active,
	.fp-viewing-2 .header-right button:hover,
	.fp-viewing-2 .header-right button:active {
		color: #626060;
	}
}

/******** SECTION 3 ********/

.fp-viewing-3-0 .logo,
.fp-viewing-3-0 .sublogo,
.fp-viewing-3-0 .header-right button,
.fp-viewing-3-0 .company p,
.fp-viewing-3-0 .main-service p,
.fp-viewing-3-0 .line {
	color: #f2f0ef;
	border-color: #f2f0ef;
}

.fp-viewing-3-0 .logo:hover,
.fp-viewing-3-0 .logo:active,
.fp-viewing-3-0 .sublogo--email:hover,
.fp-viewing-3-0 .sublogo--email:active,
.fp-viewing-3-0 .header-right button:hover,
.fp-viewing-3-0 .header-right button:active {
	color: #E0E0E0;
}

.fp-viewing-3-2 .logo,
.fp-viewing-3-2 .sublogo,
.fp-viewing-3-2 .header-right button,
.fp-viewing-3-2 .company p,
.fp-viewing-3-2 .main-service p,
.fp-viewing-3-2 .line {
	color: #f2f0ef;
	border-color: #f2f0ef;
}

.fp-viewing-3-2 .logo:hover,
.fp-viewing-3-2 .logo:active,
.fp-viewing-3-2 .sublogo--email:hover,
.fp-viewing-3-2 .sublogo--email:active,
.fp-viewing-3-2 .header-right button:hover,
.fp-viewing-3-2 .header-right button:active {
	color: #E0E0E0;
}

@media (max-width: 480px) {

	.fp-viewing-3-1 .logo,
	.fp-viewing-3-1 .sublogo,
	.fp-viewing-3-1 .header-right button,
	.fp-viewing-3-1 .company p,
	.fp-viewing-3-1 .main-service p,
	.fp-viewing-3-1 .line {
		color: #f2f0ef;
		border-color: #f2f0ef;
	}

	.fp-viewing-3-1 .logo:hover,
	.fp-viewing-3-1 .logo:active,
	.fp-viewing-3-1 .sublogo--email:hover,
	.fp-viewing-3-1 .sublogo--email:active,
	.fp-viewing-3-1 .header-right button:hover,
	.fp-viewing-3-1 .header-right button:active {
		color: #E0E0E0;
	}
}

/******** SECTION 4 ********/

.fp-viewing-4 .company p,
.fp-viewing-4 .main-service p,
.fp-viewing-4 .line {
	color: #f2f0ef;
	border-color: #f2f0ef;
}

@media (max-width: 1200px) {

	.fp-viewing-4 .logo,
	.fp-viewing-4 .sublogo,
	.fp-viewing-4 .header-right button,
	.fp-viewing-4 .company p,
	.fp-viewing-4 .main-service p,
	.fp-viewing-4 .line {
		color: #f2f0ef;
		border-color: #f2f0ef;
	}

	.fp-viewing-4 .logo:hover,
	.fp-viewing-4 .logo:active,
	.fp-viewing-4 .sublogo--email:hover,
	.fp-viewing-4 .sublogo--email:active,
	.fp-viewing-4 .header-right button:hover,
	.fp-viewing-4 .header-right button:active {
		color: #E0E0E0;
	}
}

/******** SECTION 5 ********/

.fp-viewing-5 .logo,
.fp-viewing-5 .sublogo,
.fp-viewing-5 .header-right button,
.fp-viewing-5 .company p,
.fp-viewing-5 .main-service p,
.fp-viewing-5 .line {
	color: #f2f0ef;
	border-color: #f2f0ef;
}

.fp-viewing-5 .logo:hover,
.fp-viewing-5 .logo:active,
.fp-viewing-5 .sublogo--email:hover,
.fp-viewing-5 .sublogo--email:active,
.fp-viewing-5 .header-right button:hover,
.fp-viewing-5 .header-right button:active {
	color: #E0E0E0;
}


/******** SECTION 6 ********/

.fp-viewing-6 .company p,
.fp-viewing-6 .main-service p,
.fp-viewing-6 .line {
	color: #f2f0ef;
	border-color: #f2f0ef;
}

@media only screen and (max-width: 1200px) {

	.fp-viewing-6 .logo,
	.fp-viewing-6 .sublogo,
	.fp-viewing-6 .header-right button {
		color: #f2f0ef;
		border-color: #f2f0ef;
	}
}

/******** SECTION 7 ********/

.fp-viewing-7 .logo,
.fp-viewing-7 .sublogo,
.fp-viewing-7 .header-right button,
.fp-viewing-7 .company p,
.fp-viewing-7 .main-service p,
.fp-viewing-7 .line {
	color: #f2f0ef;
	border-color: #f2f0ef;
}

.fp-viewing-7 .logo:hover,
.fp-viewing-7 .logo:active,
.fp-viewing-7 .sublogo--email:hover,
.fp-viewing-7 .sublogo--email:active,
.fp-viewing-7 .header-right button:hover,
.fp-viewing-7 .header-right button:active {
	color: #E0E0E0;
}

/******** SECTION 9 ********/

.fp-viewing-9 .company p,
.fp-viewing-9 .main-service p,
.fp-viewing-9 .line {
	color: #f2f0ef;
	border-color: #f2f0ef;
}

@media only screen and (max-width: 992px) {

	.fp-viewing-9 .logo,
	.fp-viewing-9 .sublogo,
	.fp-viewing-9 .header-right button,
	.fp-viewing-9 .company p,
	.fp-viewing-9 .main-service p,
	.fp-viewing-9 .line {
		color: #f2f0ef;
		border-color: #f2f0ef;
	}

	.fp-viewing-9 .logo:hover,
	.fp-viewing-9 .logo:active,
	.fp-viewing-9 .sublogo--email:hover,
	.fp-viewing-9 .sublogo--email:active,
	.fp-viewing-9 .header-right button:hover,
	.fp-viewing-9 .header-right button:active {
		color: #E0E0E0;
	}
}

/******** SECTION 10 ********/

.fp-viewing-10 .logo,
.fp-viewing-10 .sublogo,
.fp-viewing-10 .header-right button,
.fp-viewing-10 .company p,
.fp-viewing-10 .main-service p,
.fp-viewing-10 .line {
	color: #f2f0ef;
	border-color: #f2f0ef;
}

.fp-viewing-10 .logo:hover,
.fp-viewing-10 .logo:active,
.fp-viewing-10 .sublogo--email:hover,
.fp-viewing-10 .sublogo--email:active,
.fp-viewing-10 .header-right button:hover,
.fp-viewing-10 .header-right button:active {
	color: #C0C0C0;
}

/******** SECTION 11 ********/

.fp-viewing-12 .logo,
.fp-viewing-12 .sublogo,
.fp-viewing-12 .header-right button,
.fp-viewing-12 .company p,
.fp-viewing-12 .main-service p,
.fp-viewing-12 .line {
	color: #f2f0ef;
	border-color: #f2f0ef;
}

.fp-viewing-12 .logo:hover,
.fp-viewing-12 .logo:active,
.fp-viewing-12 .sublogo--email:hover,
.fp-viewing-12 .sublogo--email:active,
.fp-viewing-12 .header-right button:hover,
.fp-viewing-12 .header-right button:active {
	color: #C0C0C0;
}

@media only screen and (max-width: 992px) {

	.fp-viewing-12 .logo,
	.fp-viewing-12 .sublogo,
	.fp-viewing-12 .header-right button {
		color: #1e1c1c;
	}

	.fp-viewing-12 .logo:hover,
	.fp-viewing-12 .logo:active,
	.fp-viewing-12 .sublogo--email:hover,
	.fp-viewing-12 .sublogo--email:active,
	.fp-viewing-12 .header-right button:hover,
	.fp-viewing-12 .header-right button:active {
		color: #626060;
	}
}

/******** SLIDE NAVIGATION INDICATORS ********/

.custom-nav {
	position: fixed;
	bottom: 1.5rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;
	transition: color .25s ease-in-out;
	display: none;
}

.section-nav {
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}

.slide-indicator {
	width: 4rem;
	height: .4rem;
	background-color: rgba(255, 255, 255, 0.5);
	margin: 0 1rem;
	transition: background-color 0.2s;
}

.slide-indicator.active {
	background-color: white;
}

/* Hide fullPage.js default navigation */
#fp-nav,
.fp-slidesNav {
	display: none;
}

@media only screen and (max-width: 600px) {

	.custom-nav {
		bottom: .5rem;
	}

	.section-nav {
		margin-bottom: 1rem;
	}

	.slide-indicator {
		width: 3rem;
		height: .3rem;
		margin: 0 .5rem;
	}
}

/******** SECTION 3 - SLIDES ********/

.fp-viewing-3-0 .custom-nav,
.fp-viewing-3-1 .custom-nav,
.fp-viewing-3-2 .custom-nav {
	/* Default the indicators are not shown */
	display: unset;
}

.slide {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
}

.slide--1 {
	background-image: url("/../static/home/images/home_images/slides/The_Shelter_Creative_Casa_Wabi.jpg");
	align-items: end;
}

.slide--2 {
	background-image: url("/../static/home/images/home_images/slides/The_Shelter_Creative_Bourse_de_Commerc_Pinault.jpg");
	align-items: center;
	justify-content: right;
}

.slide--3 {
	background-image: url("/../static/home/images/home_images/slides/The_Shelter_Creative_Es_Baluard_Museu.jpg");
	align-items: end;
}

.slide-text-container--1,
.slide-text-container--3 {
	width: 725px;
	margin: 0 0 14rem 8.2rem;
}

.slide-text-container p {
	color: #F2F0EF;
	font-family: "RecklessNeue", serif;
	font-size: 3rem;
	font-weight: 400;
	line-height: 3.5rem;
	letter-spacing: -0.2px;
}

.slide-text-container--2 {
	width: 500px;
	margin-top: 10rem;
	margin-right: 4rem;
}

.slide-text-container--2 p {
	color: #1E1C1C;
}

/*********** MEDIA QUERIES **************/

@media only screen and (max-width: 1200px) {
	.slide--1 {
		background-image: url("/../static/home/images/home_images/slides/The_Shelter_Creative_Casa_Wabi_sm.jpg");
	}

	.slide--2 {
		background-image: url("/../static/home/images/home_images/slides/The_Shelter_Creative_Bourse de Commerc_Pinaultsm_md.jpg");
		justify-content: unset;
		align-items: end;
	}

	.slide--3 {
		background-image: url("/../static/home/images/home_images/slides/The_Shelter_Creative_Es_Baluard_Museu_md.jpg");
	}

	.slide-text-container--1 {
		margin: 0 0 32rem 6.2rem;
	}

	.slide-text-container--2 {
		text-align: unset;
		margin: 0 0 40vh 6.2rem;
	}

	.slide-text-container--3 {
		margin: 0 0 26rem 6.2rem;
	}
}

@media only screen and (max-width: 992px) {
	.slide-text-container p {
		font-size: 2.8rem;
		line-height: 3.2rem;
	}

	.slide--1 {
		align-items: end;
	}

	.slide-text-container--1,
	.slide-text-container--3 {
		width: 600px;
		margin: 0 0 20rem 0;
		padding: 0 3.2rem;
	}

	.slide-text-container--2 {
		width: 600px;
		margin: 0 0 40rem 0;
		padding: 0 3.2rem;

	}
}

@media only screen and (max-width: 600px) {

	.slide-text-container p {
		font-size: 2.2rem;
		line-height: 2.6rem;
	}

	.slide--1 {
		background-image: url("/../static/home/images/home_images/slides/The_Shelter_Creative_Casa_Wabi_sm.jpg");
		align-items: end;
	}

	.slide--2 {
		background-image: url("/../static/home/images/home_images/slides/The_Shelter_Creative_Bourse_de_Commerc_Pinault_sm.jpg");
		align-items: end;
		justify-content: unset;
	}

	.slide--3 {
		background-image: url("/../static/home/images/home_images/slides/The_Shelter_Creative_Es_Baluard_Museu_sm.jpg");
	}

	.slide-text-container--1,
	.slide-text-container--2,
	.slide-text-container--3 {
		width: 100%;
		padding: 0 2.4rem;
		padding-bottom: 3.2rem;
	}

	.slide-text-container--1 {
		margin: 0 0 13rem 0;
	}

	.slide-text-container--2 {

		margin: 0 0 33vh 0;
	}

	.slide-text-container--3 {
		margin: 0 0 13rem 0;
	}

	.slide-text-container--2 p {
		color: #F2F0EF;
	}
}