

/*************************** SECTION - 10 VIDEO **************************/

.section {
	height: 100vh;
	height: 100dvh;
	width: 100vw;
	position: relative;
	overflow: hidden;
}

.video {
	height: 100vh;
	height: 100dvh;
	width: 100vw;
	object-fit: cover;
	overflow: hidden;
	display: block;
}