.img-full-screen {
  width: 100vw;
  height: 100dvh;
  object-fit: cover;
}

.img-full-screen-top {
  width: 100vw;
  height: 100dvh;
  object-fit: cover;
  object-position: top center;
}

.img-full-screen-bottom {
  width: 100vw;
  height: 100dvh;
  object-fit: cover;
  object-position: bottom center;
}










/****************************************************** LAYOUT - 1 ********************************/

.container-layout-1 {
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
  }
  
  .image-container-layout-1 {
    width: 80vw;
    height: 100vh;
    height: 100dvh;
    display: flex;
  }
  
  .image-container-layout-1 img:nth-of-type(1) {
    height: 100vh;
    height: 100dvh;
    width: 50%;
    object-fit: cover;
    /* Cropped from the bottom */
    object-position: top;
  }
  
  .image-container-layout-1 img:nth-of-type(2) {
    height: 100vh;
    height: 100dvh;
    width: 50%;
    padding: 12rem 8.2rem;
    overflow: hidden;
    object-fit: cover;
    /* Cropped from the bottom */
    object-position: top;
  }
  
  @media (max-width: 1200px) and (orientation: portrait) {
    .image-container-layout-1 {
      width: 100vw;
      align-items: center;
    }
  
    .image-container-layout-1 img:nth-of-type(1) {
      height: 75dvh;
    }
  
    .image-container-layout-1 img:nth-of-type(2) {
      height: 55dvh;
      padding: 0 6.2rem;
    }
  }
  
  @media (max-width: 792px) and (orientation: portrait) {
    .container-layout-1 {
        height: calc(var(--vh, 1vh) * 100 - 16.2rem);
      height: calc(100dvh - 16.2rem);
      display: flex;
      justify-content: center;
      margin-top: 11.2rem;
      margin-bottom: 5rem;
    }
  
    .image-container-layout-1 {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      justify-items: center;
      gap: 1rem;
    }
  
    .image-container-layout-1 img:nth-of-type(1),
    .image-container-layout-1 img:nth-of-type(2) {
      height: 100%;
      width: auto;
      overflow: hidden;
      aspect-ratio: 4 / 5;
      padding: 0;
    }
  }
  
  @media (max-width: 992px) and (orientation: landscape) {
  
    .container-layout-1 {
      height: 100dvh;
      width: 100vw;
      display: flex;
      justify-content: center;
    }
  
    .image-container-layout-1 {
      height: 100%;
      width: fit-content;
      display: flex;
      gap: .5rem;
      
    }
  
    .image-container-layout-1 img:nth-of-type(1),
    .image-container-layout-1 img:nth-of-type(2) {
      height: 100%;
      width: auto;
      overflow: hidden;
      aspect-ratio: 4 / 5;
      padding: 0;
    }
  }




  /****************************** GRID 3 X 1 *************************************/

.grid-container-1x3 {
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .grid-1x3 {
    width: 70%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }
  
  .grid-item-1x3 {
    width: 100%;
    height: auto;
    overflow: hidden;
    aspect-ratio: 4 / 5;
  }
  
  .grid-item-1x3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @media (max-width: 1200px) {
    .grid-1x3 {
      width: 80%;
    }
  }
  
  @media (max-width: 968px) and (orientation: landscape) {
  
    .grid-container-1x3 {
      height: calc(var(--vh, 1vh) * 100 - 16.2rem);
      height: calc(100dvh - 16.2rem);
      display: flex;
      justify-content: center;
      margin-top: 10.2rem;
      margin-bottom: 6rem;
    }
  
    .grid-1x3 {
      height: 100%;
      width: fit-content;
    }
  
    .grid-item-1x3 {
      height: 100%;
      width: fit-content;
    }
  
    .grid-item-1x3 img {
      height: 100%;
      width: auto;
      aspect-ratio: 4 / 5;
    }
  }

  @media (max-width: 768px) and (orientation: portrait) {
  
    .grid-container-1x3 {
      height: calc(var(--vh, 1vh) * 100 - 16.2rem);
      height: calc(100dvh - 16.2rem);
      display: flex;
      justify-content: center;
      margin-top: 11.2rem;
      margin-bottom: 5rem;
    }
}
  
  /* 3 images tablet/mobile portrait */
  
  /*
  @media (max-width: 768px) and (orientation: portrait) {
  
    .grid-1x3 {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 1rem;
      justify-items: center;
    }
  
    .grid-item-1x3 {
      height: 100%;
      width: fit-content;
    }
  
    .grid-item-1x3 img {
      height: 100%;
      width: auto;
      aspect-ratio: 4 / 5;
    }
  }
    */
  
  /* 2 images tablet/mobile portrait */
  
  
  @media (max-width: 768px) and (orientation: portrait) {
  
    .grid-1x3 {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 1rem;
      justify-items: center;
    }
  
    .grid-item-1x3 {
      height: 100%;
      width: fit-content;
    }
  
    .grid-item-1x3:nth-of-type(2) {
      display: none;
    }
  
    .grid-item-1x3 img {
      height: 100%;
      width: auto;
      aspect-ratio: 4 / 5;
    }
  }

    @media (max-width: 768px) and (orientation: landscape) {
  
    .grid-item-1x3:nth-of-type(2) {
      display: block;
    }
  }
  
  
  /* 1 images tablet/mobile portrait */
/*
  @media (max-width: 768px) and (orientation: portrait) {
  
    .grid-1x3 {
      height: 100%;
      width: 100%;
      display: block;
    }
  
    .grid-item-1x3 {
      height: 100%;
      width: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center;
    }
  
    .grid-item-1x3:nth-of-type(2),
    .grid-item-1x3:nth-of-type(3) {
      display: none;
    }
  
    .grid-item-1x3 img {
      height: 100%;
      width: auto;
      object-fit: cover;
    }
  }
  
  @media (max-width: 768px) and (orientation: landscape) {
  
    .grid-item-1x3:nth-of-type(2),
    .grid-item-1x3:nth-of-type(3) {
      display: block;
    }
  }
    */

  /***************************  GRID 1 X 2 **************************/

.grid-container-2x1 {
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .grid-2x1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    width: 66%;
    height: auto;
  }
  
  .grid-item-2x1 {
    width: 100%;
    height: auto;
    overflow: hidden;
    aspect-ratio: 4 / 5;
  }
  
  .grid-item-2x1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @media (max-width: 968px) {
   
  }
  
  @media (max-width: 968px) and (orientation: landscape) {
      
      .grid-2x1 {
        width: 100vw;
        height: 100%;
        display: flex;
        gap: 0.5rem;
        justify-content: center;
      }
      
      .grid-item-2x1 {
        height: 100%;
        width: auto;
      }
  }
  
  @media (max-width: 968px) and (orientation: portrait) {

    .grid-container-2x1 {
        height: calc(var(--vh, 1vh) * 100 - 16.2rem);
        height: calc(100dvh - 16.2rem);
        display: flex;
        justify-content: center;
        margin-top: 11.2rem;
        margin-bottom: 5rem;
      }


    .grid-2x1 {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      justify-items: center;
      gap: 1rem;
    }
  
    .grid-item-2x1 {
      height: 100%;
      width: fit-content;
      overflow: hidden;
    }
  
    .grid-item-2x1 img {
      height: 100%;
      width: auto;
      aspect-ratio: 4 / 5;
    }
  }



  /*********************** LAYOUT - 3 *****************************/

.container-layout-3 {
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
  }
  
  .image-container-layout-3 {
    height: 100vh;
    height: 100dvh;
    width: 80vw;
    display: flex;
  }
  
  .image-container-layout-3 img:nth-of-type(2) {
    height: 100vh;
    height: 100dvh;
    width: 50%;
    object-fit: cover;
    object-position: top;
    /* Cropped from the bottom */
  }
  
  .image-container-layout-3 img:nth-of-type(1) {
    height: 100vh;
    height: 100dvh;
    width: 50%;
    padding: 12rem 8.2rem;
    object-fit: cover;
    object-position: top;
    /* Cropped from the bottom */
    overflow: hidden;
  }
  
  @media (max-width: 1200px) and (orientation: portrait) {
    .container-layout-3 {
      width: 100vw;
      height: 100dvh;
      display: flex;
      justify-content: flex-end;
    }
  
    .image-container-layout-3 {
      width: 100vw;
  
      height: 100dvh;
      display: flex;
      align-items: center;
    }
  
    .image-container-layout-3 img:nth-of-type(2) {
      height: 75dvh;
    }
  
    .image-container-layout-3 img:nth-of-type(1) {
      height: 55dvh;
      padding: 0 6.2rem;
    }
  }
  
  @media (max-width: 792px) and (orientation: portrait) {
    .container-layout-3 {
        height: calc(var(--vh, 1vh) * 100 - 16.2rem);
      height: calc(100dvh - 16.2rem);
      display: flex;
      justify-content: center;
      margin-top: 11.2rem;
      margin-bottom: 5rem;
    }
  
    .image-container-layout-3 {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      justify-items: center;
      gap: 1rem;
    }
  
    .image-container-layout-3 img:nth-of-type(1),
    .image-container-layout-3 img:nth-of-type(2) {
      height: 100%;
      width: auto;
      overflow: hidden;
      aspect-ratio: 4 / 5;
      padding: 0;
    }
  }
  
  @media (max-width: 992px) and (orientation: landscape) {
  
    .container-layout-3 {
        height: 100vh;
      height: 100dvh;
      width: 100vw;
      display: flex;
      justify-content: center;
    }
  
    .image-container-layout-3 {
      height: 100%;
      width: fit-content;
      display: flex;
      gap: .5rem;
      
    }
  
    .image-container-layout-3 img:nth-of-type(1),
    .image-container-layout-3 img:nth-of-type(2) {
      height: 100%;
      width: auto;
      overflow: hidden;
      aspect-ratio: 4 / 5;
      padding: 0;
    }
  }