{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>

    {% block title %}
    {% endblock %}

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-G87PBXJ9TG"></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-G87PBXJ9TG');
    </script>
    
    {% block meta %}

    <!-- Meta Tags -->  
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block extra_meta %}
    {% endblock %}
    
    <!-- OGP -->               
    <meta property="og:title" content="The Shelter Creative">
    <meta property="og:description" content="We guide brands to choose who they want to be.
      Brand Culture Strategy - Creative & Communications direction.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{% static 'favicon/og-image.png' %}">
    <meta property="og:url" content="https://thesheltercreative.com">
  
    {% endblock %}

 
    
    {% block preloads %}

    <!-- Preloaded fonts -->  
    <link rel="preload" href="{% static 'fonts/logo_font/Myfontwebkit/webFonts/BigNoodleToo/font.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="{% static 'fonts/helvetica_now/MyWebfontsKit/webFonts/HelveticaNowProTextMedium/font.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous">
  
    {% endblock %}

    {% block extra_preloads %}
    {% endblock %}

    <!-- Font licenses-->
    <!--
      /**
      * @license
      * MyFonts Webfont Build ID 923423
      *
      * The fonts listed in this notice are subject to the End User License
      * Agreement(s) entered into by the website owner. All other parties are
      * explicitly restricted from using the Licensed Webfonts(s).
      *
      * You may obtain a valid license from one of MyFonts official sites.
      * http://www.fonts.com
      * http://www.myfonts.com
      * http://www.linotype.com
      *
      */
      -->
 
    <!--
      /**
      * @license
      * MyFonts Webfont Build ID 387846
      *
      * The fonts listed in this notice are subject to the End User License
      * Agreement(s) entered into by the website owner. All other parties are
      * explicitly restricted from using the Licensed Webfonts(s).
      *
      * You may obtain a valid license from one of MyFonts official sites.
      * http://www.fonts.com
      * http://www.myfonts.com
      * http://www.linotype.com
      *
      */
      -->

    {% block corecss %}

    <!-- Fullpage CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.28/fullpage.min.css"
      integrity="sha512-ppgsUNQrLKZFuWk0FHZCvPZP840nMX6VbbdcXjKub1ARvKsIM+TjGL3QTVSc5J45MCFex+xRbEwKaNKwJKaZ8g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      />

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
      />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'styles/base.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/slide_indicators.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/brand_container.css' %}" />

    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

  </head>

  <body>

    {% include 'header.html' %}
    {% include 'info_modal.html' %}
    {% include 'projects_modal.html' %}
    
    <!--fullpage -->

    <div id="fullpage">
      {% block content %}
      {% endblock %}
      
    </div>

    {% block postloadjs %}

    <script src="{% static 'js/base.js' %}"></script>

    <!-- Fullpage.js -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.28/fullpage.min.js"
      integrity="sha512-X0OyMwqsleyiPQgdq3FZzQihWPJ3bf5VrMk9Z8Fi34TUbdzHHOfwu9QoC0Y/yUiMxwpFD6eMHUJcMK8FwvgTtQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.0/fullpage.extensions.min.js"></script>
    <script src="{% static 'js/fullpage.js' %}"></script>

    <!-- Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous">
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous">
    </script>

    {% endblock %}

    {% block extra_postloadjs %}
    {% endblock %}

  </body>
</html>