{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>

    {% block meta %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="The Shelter Creative brand strategy and development, Spain.">
    <meta name="keywords" content="brand strategy, brand development, brand development spain, brand strategy Spain,
                                    creative studio Spain, creative agengy Spain">

    <meta property="og:title" content="The Shelter Creative">
    <meta property="og:description" content="We guide brands to choose who they want to be.
      Brand Culture Strategy - Creative & Communications direction.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{% static 'favicon/og-image.png' %}">
    <meta property="og:url" content="https://thesheltercreative.com">
    {% endblock %}

    <title>The Shelter Creative</title>

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}

    <!-- Fonts -->

    <link rel="stylesheet" type="text/css" href="{% static 'fonts/reckless_neue/reckless_neue.css' %}">

    <!--
      /**
      * @license
      * MyFonts Webfont Build ID 923423
      *
      * The fonts listed in this notice are subject to the End User License
      * Agreement(s) entered into by the website owner. All other parties are
      * explicitly restricted from using the Licensed Webfonts(s).
      *
      * You may obtain a valid license from one of MyFonts official sites.
      * http://www.fonts.com
      * http://www.myfonts.com
      * http://www.linotype.com
      *
      */
      -->
      <link rel="stylesheet" type="text/css" href="{% static 'fonts/logo_font/Myfontwebkit/Myfontwebkit.css' %}">
 
    <!--
      /**
      * @license
      * MyFonts Webfont Build ID 387846
      *
      * The fonts listed in this notice are subject to the End User License
      * Agreement(s) entered into by the website owner. All other parties are
      * explicitly restricted from using the Licensed Webfonts(s).
      *
      * You may obtain a valid license from one of MyFonts official sites.
      * http://www.fonts.com
      * http://www.myfonts.com
      * http://www.linotype.com
      *
      */
      -->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/helvetica_now/MyWebfontsKit/MyWebfontsKit.css' %}">

    <!-- Fullpage CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.28/fullpage.min.css"
      integrity="sha512-ppgsUNQrLKZFuWk0FHZCvPZP840nMX6VbbdcXjKub1ARvKsIM+TjGL3QTVSc5J45MCFex+xRbEwKaNKwJKaZ8g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      />

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
      />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">

    <!-- Custom CSS -->

    <link rel="stylesheet" href="{% static 'styles/base.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/slide_indicators.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/brand_container.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/section_templates.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/section_2.css' %}" />
  
    <link rel="stylesheet" href="{% static 'styles/section_side_text.css' %}" />
  
    
    

    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

  </head>

  <body>

    {% include 'header.html' %}
    {% include 'info.html' %}

    <!--fullpage -->

    <div id="fullpage">
      {% block content %}
      {% endblock %}
      {% include 'projects_section.html' %}
      

     
    </div>

    {% block postloadjs %}

    <!-- Fullpage.js -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.28/fullpage.min.js"
      integrity="sha512-X0OyMwqsleyiPQgdq3FZzQihWPJ3bf5VrMk9Z8Fi34TUbdzHHOfwu9QoC0Y/yUiMxwpFD6eMHUJcMK8FwvgTtQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.0/fullpage.extensions.min.js"></script>
    <script src="{% static 'js/fullpage.js' %}"></script>

    <!-- Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous">
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous">
    </script>

    {% endblock %}

    {% block extra_postloadjs %}
    {% endblock %}

  </body>
</html>