{% load static %}

<header class="header-container" id="header">
   <div class="header">
     <div class="header-left">
       <a href="{% url 'home' %}" class="logo BigNoodleToo">THE SHELTER</a>
       <div class="sublogo-container">
         <p class="sublogo">creative studio</p>
         <a href="mailto:info@theshelter.com" class="sublogo sublogo--email"
           >info@thesheltercreative.com</a
           >
       </div>
     </div>
     <div class="header-right">
       <button type="button" data-toggle="modal" data-target="#projects-modal">
       projects
       </button>
       <button type="button" data-toggle="modal" data-target="#info-modal">
       info
       </button>
     </div>
   </div>
 </header>