{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/header.css' %}">
{% endblock %}

<header class="header-container" id="header">
  <div class="header">
    <div class="header-left">
      <a href="{% url 'home' %}" class="logo BigNoodleToo">THE SHELTER</a>
      <div class="sublogo-container">
        <p class="sublogo">creative studio</p>
        <a href="mailto:info@theshelter.com" class="sublogo sublogo--email"
          >info@theshelter.com</a
          >
      </div>
    </div>
    <div class="header-right">
      <button type="button" class="button--info" data-toggle="modal" data-target="#exampleModalCenter">
        info
      </button>
    </div>
  </div>
</header>