{% load static %}

{% block extra_meta %}
<meta name="description" content="Learn about THE SHELTER CREATIVE, a leading agency specializing in brand services. 
Discover our comprehensive offerings, view our esteemed clients, and find our contact information to connect with us.">
{% endblock %}

<div
  class="modal"
  id="info-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="info-modal"
  aria-hidden="true"
  >
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content-info">
      <section class="section-info">
        <div class="close-container">
          <button type="button" class="button button--close" data-dismiss="modal" aria-label="Close">close</button>
        </div>
        <div class="main-container">
          <article class="info-col-left">
            <p class="info-text">
              THE SHELTER is a creative studio specializing in brand experiences
              and content development for luxury, retail, lifestyle, and
              cultural organizations all around the world.
              <br>
              <br>
              We focus on reinvigorating brand visions by understanding customer
              and market needs, analyzing socio-cultural trends and
              designing a unique identity that guides a brand culture with
              intelligence, character, and clarity.
            </p>
          </article>
          <aside class="info-col-right">
            <div class="sub-info-container sub-info-container-contact">
              <h3 class="heading-contact">
                Email:&nbsp;<a href="mailto:info@theshelter.com"
                  >info@thesheltercreative.com</a
                  >
              </h3>
              <h3 class="heading-contact">
                Instagram:&nbsp;<a
                  href="https://www.instagram.com/thesheltercreative/"
                  target="_blank"
                  rel="noopener noreferrer"
                  >@thesheltercreative</a
                  >
              </h3>
            </div>
            <div class="sub-info-container">
              <h3>Services</h3>
              <ul class="info-list">
                <li>Brand Strategy</li>
                <li>Narrative & Communication</li>
                <li>Creative Direction</li>
                <li>Visual Identity</li>
                <li>Tone of Voice</li>
                <li>Art Direction</li>
                <li>Branding experience</li>
                <li>Creative Production & Art buying</li>
                <li>Research & Curation</li>
                <li>Events & Experiential</li>
                
              </ul>
            </div>
            <div class="sub-info-container">
              <h3>Clients</h3>
              <div class="client-container">
                <div class="client-list--left">
                  <ul class="info-list">
                    <li>Adolfo Domínguez</li>
                    <li>Carolina Herrera</li>
                    <li>Casa Camper</li>
                    <li>Coosy</li>
                    <li>L’Officiel</li>
                    <li>Levare</li>
                    <li>Massimo Dutti</li>
                    <li>Pepa London</li>
                  </ul>
                </div>
                <div class="client-list--right">
                  <ul class="info-list">
                    <li>Purificación García</li>
                    <li>S Moda</li>
                    <li>Shiweed</li>
                    <li>Tous</li>
                    <li>Vogue</li>
                    <li>Volupte</li>
                    <li>XTI Shoes</li>
                    <li>Yakum</li>

                  </ul>
                </div>
              </div>
            </div>
          </aside>
        </div>
      </section>
    </div>
  </div>
</div>