{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'styles/projects_section.css' %}" />
{% endblock %}

<!--------------------SECTION - PROJECTS --------------------------->

<div class="section section--projects" id="section--projects--lg">
  <div class="projects">
    <div class="projects-list-container scrollable-content">
      {% for project in projects %}

      <a class="projet-link" href=" {% url 'project' project.id %}">
        <div class="project-item">
          {% if project.list_image %}
          <img
            class="list-image-url"
            src="{{ project.list_image.url }}"
            style="display: none"
          />
          {% endif %}

          <div class="brand">
            <p>{{ project.company }}</p>
          </div>

          <div class="line-projects">
          </div>

          <div class="service">
            <p>{{ project.main_service }}</p>
          </div>
        </div>
      </a>

      {% endfor %}
    </div>

    <div class="projects-imgs-container">
      <img
        src="{% static 'images/projects_section/The_Shelter_Creative_Tous.jpg' %}"
        alt=""
      />
      <img
        src="{% static 'images/projects_section/The_Shelter_Creative_Massimo Dutti_Stores.jpg' %}"
        alt=""
      />
      <img
        class="img-3"
        src="{% static 'images/projects_section/The_Shelter_Creative_Casa_Camper_Berlin.jpg' %}"
        alt=""
      />
    </div>
  </div>
</div>



<div class="section section--projects" id="section-projects--sm">
  
    <div class="projects-list-container--sm">
      {% for project in projects %}

      <a class="projet-link" href=" {% url 'project' project.id %}">
        <div class="project-item">
          {% if project.list_image %}
          <img
            class="list-image-url"
            src="{{ project.list_image.url }}"
            style="display: none"
          />
          {% endif %}

          <div class="brand">
            <p>{{ project.company }}</p>
          </div>

          <div class="line-projects">
          </div>

          <div class="service">
            <p>{{ project.main_service }}</p>
          </div>
        </div>
      </a>

      {% endfor %}
    </div>

    
  </div>
</div>

<!-- Script to handle the image change in the projects section -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const projectItems = document.querySelectorAll(".project-item");
    const projectsImgsContainer = document.querySelector(
      ".projects-imgs-container"
    );
    const originalImages = projectsImgsContainer.innerHTML; // Save the original images

    projectItems.forEach((item) => {
      // Retrieve the image URL from the hidden img element inside the current project-item
      const projectImageElement = item.querySelector(".list-image-url");
      const projectImage = projectImageElement ? projectImageElement.src : "";

      item.addEventListener("mouseenter", function () {
        // Only change the image if projectImage is not empty
        if (projectImage) {
          // Hide current images and change the container class
          projectsImgsContainer.innerHTML = "";
          projectsImgsContainer.classList.remove("projects-imgs-container");
          projectsImgsContainer.classList.add("project-img-container");

          // Create a new img element associated with the specific project
          const newImage = document.createElement("img");
          newImage.src = projectImage; // Set the image URL from the hidden img element
          newImage.alt = "Project Image";
          newImage.style.width = "100%"; // Style the new image
          newImage.style.height = "auto";
          newImage.style.objectFit = "cover"; // Ensure the image fits well

          // Add the new image to the container
          projectsImgsContainer.appendChild(newImage);
        }
      });

      item.addEventListener("mouseleave", function () {
        // Restore the original images and change the container class back
        projectsImgsContainer.innerHTML = originalImages;
        projectsImgsContainer.classList.remove("project-img-container");
        projectsImgsContainer.classList.add("projects-imgs-container");
      });
    });
  });
</script>
