.container-grid-3x2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: calc(100dvh - 9.5rem); /* Header height */
    margin-top: 9.5rem;
  }
  
  .grid-3x2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    overflow: hidden;
    width: 50%;
  }
  .grid-item-3x2 {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    aspect-ratio: 4 / 5;
  }
  .grid-item-3x2 img {
    height: 100%;
    width: 100%;
  }

  /* side by side option */
  
  
  @media (max-width: 1200px) {
    .container-grid-3x2 {
      padding: 8.6rem 0;
    }
  
    .grid-item-3x2 {
      height: 100%;
      width: auto;
    }
  }
  
  @media (max-width: 1200px) and (orientation: portrait) {
    .section--grid-3x2 {
      display: block;
    }
  
    .container-grid-3x2 {
      height: calc(var(--vh, 1vh) * 100 - 12rem);
      height: calc(100dvh - 12rem);
      margin-top: 8.75rem !important;
      margin-bottom: 3.25rem;
      padding-top: 3rem;
      padding-bottom: 4rem;
    }
  
    .grid-3x2 {
      display: flex;
      justify-items: center;
      align-items: center;
      gap: 0;
      height: auto;
      width: 100vw;
    }
  
    .grid-item-3x2 {
      height: auto;
      width: 100%;
      aspect-ratio: 4 / 5;
      overflow: hidden;
    }
  
    .grid-item-3x2 img {
      height: 100%;
      width:100%;
    }
    
    .grid-item-3x2:nth-child(3),
    .grid-item-3x2:nth-child(4),
    .grid-item-3x2:nth-child(5),
    .grid-item-3x2:nth-child(6) {
      display: none;
    }
  }

  /* option 2 */
  /*

  @media (max-width: 1200px) and (orientation: portrait) {

	.container-grid-3x2 {
		height: calc(100dvh - 9.5rem);
	}

	.grid-item-3x2 {
		height: 100%;
		width: auto;
	}
}

@media (max-width: 1200px) and (orientation: portrait) {
	.section--grid-3x2 {
		display: block;
	}

	.container-grid-3x2 {
		height: calc(var(--vh, 1vh) * 100 - 12rem);
		height: calc(100dvh - 9rem);
		margin-top: 9rem !important;

		padding-top: 0;
		padding-bottom: 3.75rem;
	
		display: flex;
		justify-content: center;
	}

	.grid-3x2 {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		height: 100%;
		width: 100%;
		justify-items: center;
		gap: 0.5rem;
	
	}

	.grid-item-3x2 {
		height: 100%;
		width: fit-content;
		overflow: hidden;

	}

	.grid-item-3x2 img {
		height: 100%;
		width: auto;
		aspect-ratio: 4 / 5;
	}

	.grid-item-3x2:nth-child(3),
	.grid-item-3x2:nth-child(4),
	.grid-item-3x2:nth-child(5),
	.grid-item-3x2:nth-child(6) {
		
		display: none;
	}
}
*/